@using Web_BanDienThoai.Models.ChiTietHoaDon;
@model IEnumerable<IndexChiTietHoaDonViewModel>

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="HoaDon" asp-action="Index">Danh Sách Nhập Hàng</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chi Tiết Hóa Đơn</li>
        </ol>
    </nav>

    <div class="col-md-12 table-responsive-md">
        <a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create">Thêm sản phẩm vào hóa đơn</a>

        <div class="col-xs-12">
            <form moethod="get" asp-action="Index" enctype="multipart/form-data">
                <div class="col-md-2">
                    <input type="text" name="valueOfSearch" class="form-control" style="margin-bottom:0.1cm" placeholder="Nhập nội dung cần tìm" />
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-success" style="margin-bottom:0.5cm">Tìm Kiếm</button>
                </div>
            </form>
        </div>

        <table class="table table-strip table-dark">
            <thead>

                <tr>
                    <th>Mã Hóa Đơn</th>
                    <th>Mã Sản Phẩm</th>
                    <th>Số Lượng</th>
                    <th>Đơn Giá</th>
                    <th>Thành Tiền</th>
                    <th class="text-warning">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id_HoaDon</td>
                        <td>@item.Id_SanPham</td>
                        <td>@item.SoLuong</td>
                        <td>@item.DonGia</td>
                        <td>@item.ThanhTien</td>
                        <td>
                            <a class="text-primary" asp-action="Edit" asp-route-id="@item.Id_HoaDon">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            @*<a class="text-success" asp-action="Detail" asp-route-id="@item.Id_HoaDon">
                                <i class="fas fa-bars"></i> Detail
                            </a>*@
                            <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id_HoaDon">
                                <i class="far fa-trash-alt"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>