@using Web_BanDienThoai.Models.NhapHang;
@model DeleteNhapHangViewModel

<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="NhapHang" asp-action="Index">Danh Sách Nhập Hàng</a></li>
            <li class="breadcrumb-item active" aria-current="page">Xóa Đơn Nhập Hàng</li>
        </ol>
    </nav>

    <form method="post" asp-action="Delete" enctype="multipart/form-data">

        <div class="col-md-12 table-responsive-md">
            <div class="form-row">
                <div class="col-2 form-group">
                    <label asp-for="@Model.Id_NhapHang" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="@Model.Id_NhapHang" class="form-control" />
                    <span asp-validation-for="@Model.Id_NhapHang" class="text-danger"></span>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="@Model.NgayLap" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="@Model.NgayLap" class="form-control" />
                    <span asp-validation-for="@Model.NgayLap" class="text-danger"></span>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="@Model.NgayGiao" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="@Model.NgayGiao" class="form-control" />
                    <span asp-validation-for="@Model.NgayGiao" class="text-danger"></span>
                </div>
            </div>
        </div>
            <div class="form-group">
                <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Delete</button>
                <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                <br />
                <br />
                <br />
            </div>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}