@using System.Collections;
@using Web.Persistances;
@using Web_BanDienThoai.Controllers;
@using Web_BanDienThoai.Models.DanhMucCon;
@using Web_BanDienThoai.Models.CauHinh;
@using Web.Services.implementation;
@using Web.Services;
@using Web.Entities;
@using Web_BanDienThoai.Models.LoaiSanPham;
@model CreateLoaiSanPhamViewModel;

<div class="row">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="LoaiSanPham" asp-action="Index">Danh Sách Loại Sản Phẩm</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thêm Loại Sản Phẩm</li>
        </ol>
    </nav>

    <form method="post" asp-action="Create" enctype="multipart/form-data">

        <div class="col-md-12 table-responsive-md">
            <div class="form-row">
                <div class="col-2 form-group">
                    <label asp-for="@Model.Id_loai" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="@Model.Id_loai" class="form-control" placeholder="Nhập mã loại sản phẩm (LSP__)"/>
                    <span asp-validation-for="@Model.Id_loai" class="text-danger"></span>
                    <div class="text-danger">@ViewBag.Error</div>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="@Model.TenLoai" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <input asp-for="@Model.TenLoai" class="form-control" placeholder="Nhập tên loại sản phẩm"/>
                    <span asp-validation-for="@Model.TenLoai" class="text-danger"></span>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="@Model.Id_DanhMucCon" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <select asp-for="@Model.Id_DanhMucCon" asp-items="@Model.DanhMucCon" class="form-control">
                        <option val="" selected>--Select Danh Mục Con--</option>
                    </select>
                    <span asp-validation-for="@Model.Id_DanhMucCon" class="text-danger"></span>
                </div>
                <div class="col-3 form-group">
                    <a class="btn btn-rounded btn-primary form-label " asp-controller="DanhMucCon" asp-action="Create"> <i class="fas fa-plus-square" style="margin-right:0.7em"></i>Thêm Danh Mục</a>
                </div>
                <div class="col-2 form-group"></div>
                <div class="col-2 form-group">
                    <label asp-for="@Model.Id_MauSac" class="form-label"></label>
                </div>
                <div class="col-3 form-group">
                    <select asp-for="@Model.Id_MauSac" asp-items="@Model.MauSac" class="form-control">
                        <option val="" selected>--Select Màu Sắc--</option>
                    </select>
                    <span asp-validation-for="@Model.Id_MauSac" class="text-danger"></span>
                </div>
                <div class="col-3 form-group" >
                    <a class="btn btn-rounded btn-primary form-label" asp-controller="MauSac" asp-action="Create"> <i class="fas fa-plus-square" style="margin-right:0.7em"></i>Thêm Màu Sắc</a>
                </div>
            </div>
            </div>

            <div class="form-group" style=" margin-top:0.5cm">
                <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Lưu</button>
                @*<a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>*@
                <a asp-controller="SanPham" asp-action="Create" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Trở về trang tạo sản phẩm</a>
                <br />
                <br />
                <br />
            </div>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


