@{ViewData["Title"] = "Danh Sách Sản Phẩm";}

@inject SignInManager<TaiKhoan> signInManager;

@using Web_BanDienThoai.Models.SanPham;
@*@using X.PagedList.Mvc.Core;
@using X.PagedList;*@
@using PagedList.Mvc;
@*@model IEnumerable<IndexSanPhamViewModel>*@
@model PagedList.IPagedList<IndexSanPhamViewModel>

<section class="py-5">   
    <div class="container px-4 px-lg-5 mt-5">
        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin")){
        <a class="btn btn-xs btn-outline-success float-md-rigth" style="margin-top:-3cm" asp-action="Create">Tạo Sản Phẩm</a>
        }
        <div class="col-xs-12">
            <form method="get" asp-action="Index" enctype="multipart/form-data">
                <div class="col-md-2">
                    <input type="text" name="valueOfSearch" class="form-control" style="margin-bottom:0.1cm" placeholder="Nhập nội dung cần tìm" />
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-success" style="margin-bottom:0.5cm">Tìm Kiếm</button>
                </div>
            </form>
        </div>

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">On Air</div>
                            <!-- Product image-->
                        @*<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />*@
                            <img alt="image" src="@Url.Content(item.ImageUrl)" />
                            <!-- Product details-->
                            <div class="card-body p-0" >
                                <div class="text-center">
                                    <!-- Product name-->
                                <h5 class="fw-bolder" style=" margin-bottom:-3px">@item.Ten_SanPham</h5>
                                <i class="fw-light" style="font-size:x-small"> @item.Id_SanPham</i> 
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                       
                                    </div>
                                    <!-- Product price-->
                                <span style="color:darkslateblue">$@item.GiaTien</span>
                                
                            </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-3 border-top-0 bg-transparent">
                            <div class="text-center" style="margin-bottom: 0.3cm">
                                 @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin")){
                            <a class="text-primary" asp-action="Edit" asp-route-id="@item.Id_SanPham" style="margin-right:10px">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                                 }
                                <a class="text-success" asp-action="Detail" asp-route-id="@item.Id_SanPham" style="margin-right:10px">
                                <i class="fas fa-bars"></i> Detail
                            </a>
                            <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id_SanPham">
                                <i class="far fa-trash-alt"></i> Delete
                            </a>
                            </div>
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
            }                                        
                </div>
            </div>
    @{
        for (int i = 1; i <= Model.PageCount; i++)
        {
            <a class="btn btn-xs btn-outline-secondary float-md-rigth" asp-route-page="@i" asp-action="Index">  @i  </a>
        }
    }

</section>

                      
                            