@using Web_BanDienThoai.Models.NhaCungCap;
@model DetailNhaCungCapViewModel

<div class="card">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="NhaCungCap" asp-action="Index">Danh Sách Nhà Cung Cấp</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chi Tiết Nhà Cung Cấp</li>
            </ol>
        </nav>
        <div class="wrap d-flex justify-content-start justify-content-sm-start flex-wrap">
            @*<img src="@Url.Content(Model.ImageUrl)" class="rounded-circle shadow-lg" style="width:300px; height:350px" />*@
            <div class="wrap align-items-center ml-5">
                <p class="font-weight-bold text-success" style="font-size:20px">@Model.Name</p>
                <p class="font-weight-normal"> <b>Mã Nhà Cung Cấp:</b> @Model.Id_NhaCungCap</p>                
                <p class="font-weight-normal">Email: <a href="#">@Model.Email</a></p>
                <p class="font-weight-normal">Phone: <a href="tel:@Model.Phone">@Model.Phone</a></p>
                <br /><br />
                <p class="font-weight-bold"> Pay & Deductions</p>
                <hr style="background-color:crimson" />               
                <p class="font-weight-normal"><i class="fas fa-envelope" style="margin-right:0.6em; color:cornflowerblue"></i> <a href="mailto:@Model.Email?subject=Payslip&body=Attached within is your paylip.">Send Payslip</a></p>
                <br /><br />

                <p class="font-weight-bold"> Address</p>
                <hr style="background-color:crimson" />
                <p class="font-weight-normal"> @Model.Address</p>           
                <br />
                <br />
            </div>
        </div>
    </div>
</div>