@using Web_BanDienThoai.Models.KhachHang;
@model IEnumerable<IndexKhachHangViewModel>

<div class="row">
    <div class="col-md-12 table-responsive-md">
        <a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create"> Thêm Nhân Viên Mới</a>
        <table class="table table-strip table-dark">
            <thead>
                <tr>
                    <th>Mã khách hàng</th>
                    <th>Họ</th>
                    <th>Tên</th>
                    <th>Họ và Tên</th>
                    <th>Giới tính</th>
                    <th>Ngày Sinh</th>
                    <th>Email</th>
                    <th>Điện thoại</th>
                    <th>Địa chỉ</th>
                    <th class="text-warning">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id_KhacHang</td>
                        <td>@item.LastName</td>
                        <td>@item.FirstName</td>
                        <td>@item.FullName</td>
                        <td>@item.Gender</td>
                        <td>@item.DOB.ToShortDateString()</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>
                            <a class="text-primary" asp-action="Edit" asp-route-id="@item.Id_NhanVien">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <a class="text-success" asp-action="Detail" asp-route-id="@item.Id_NhanVien">
                                <i class="fas fa-bars"></i> Detail
                            </a>
                            <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id_NhanVien">
                                <i class="far fa-trash-alt"></i> Delete
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>